body{
    flex-wrap: wrap;
    padding-left: 10px;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
img{
    margin: 0 20px 0 30px;
    border-radius: 50px; 
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.logo{
    margin: 0 20px 0 30px;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    
}

.h1{
    margin: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid black; */
    font-size: 40px;
}

.gif1{
    margin:50px;
    display: flex;
    position: relative;
    justify-content: center;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.flexer-container1 {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 100px;
    /* border: 2px solid black; */
}

.item1 {
    margin: 50px;
    align-self: auto;
    height: 750px;
    width: 450px;
    /* border: 2px solid black; */

}

.flexer-container2 {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 100px;
    /* border: 2px solid black; */
}

.item2 {
    margin: 50px;
    align-self: auto;
    height: 750px;
    width: 450px;
    /* border: 2px solid black; */
}
